body{
    width: 100vw;
    overflow-x: hidden;
}
/* #cardsSize{
    width:250px;
    margin: -25px;
    margin-top:5px;
    margin-left: 1%;
    float: left;
   
    
    
} */
#button{
  
    display: inline-table;
    
   
}


/* @media screen and (max-width: 600px){
    body{
        width: 120vw;
        overflow-x: hidden;
    }
    #cardsSize{
        width:180px;
        float: left;

    }
    #button{
      
        margin-top:2px;
       
    }   
   
} */
@media screen and (max-width: 600px){
    /* #allCards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(160px, 1fr)) ;
        grid-gap:auto auto ;
        
    } */
    
    #buttons{
        display: block;
        margin-bottom:2px;
    }
    #delete{
        width: 34.4vw;
        /* display: block; */
    }
    
    


}
.card{
    margin-top: 60px;    
}
/* #product{
    border:1px solid red;
    width:100%;
    transition:0.5s;
} */
/* #product:hover{
    width:106%;
    margin-top: 60px;
    box-shadow:1px 1px 20px  red;
} */

.alert{
    margin-top: 60px;
}

svg{
    width:50px;
    height: 40px;
    border-radius: 70%;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    box-shadow:1px 1px 9px  red;
}

#logo{
    display: inline; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 1px 6px  rgba(249, 44, 44, 0.581);
    font-weight: bold;
}

#pic{
    border-radius: 70%;
    box-shadow:1px 1px 9px  red;
}

